
.intel-one-mono-medium {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html, body {
  overflow: hidden;
}

body {
  background: transparent !important;
  /* background: rgb(131, 131, 131); */
  margin: 0;
  padding: 0;
  user-select: none;
}

.dial {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  bottom: 38px;
  right: 10px;
  user-select: none;
  background-color: #0202029c;
}

.container {
  position: absolute;
  top: 109px;
  left: 132px;
  width: 53.5%;
  height: 60.5%;
  opacity: 0.3;
}

.circle-point {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #dbdbdb;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.smallcircle-point {
  position: absolute;
  bottom: 21.3%;
  left: -14%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #dbdbdb;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.inside-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #dbdbdb;
  transform: translate(-50%, -50%);
}

.inside-smallcircle {
  position: absolute;
  bottom: 17.4%;
  left: -14%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid #dbdbdb;
  transform: translate(-50%, -50%);
}

.arc-bg {
  stroke: #64646479;
  stroke-width: 15;
  fill: none;
}

.inside-arc-bg {
    stroke: #64646479;
    stroke-width: 4;
    fill: none;
}

.small-speedo {
  position: absolute;
  left: -140px;
  bottom: -25px;  
  width: 200px;
  height: 200px;
  z-index: -2;
  rotate: 20deg;
}

.small-arc-bg {
    stroke: #64646479;
    stroke-width: 10;
    fill: none;
}

.inside2-arc-bg {
    stroke: #4747476c;
    stroke-width: 18;
    fill: none;
}

.engineticks {
    position: absolute;
    top: 142.5px;
    right: 144px;
    transform: rotate(32.5deg);
    pointer-events: none;
}

.enginetick {
    position: absolute;
    width: 3px;
    height: 12px;
    background: #2b2b2bc5;
    transform-origin: bottom center;
    border-radius: 15%;
    opacity: 0.6;
}

.smallticks {
    position: absolute;
    bottom: 77px;
    left: -50px;
    transform: rotate(-72.5deg);
    pointer-events: none;
}

.smalltick {
    position: absolute;
    width: 3px;
    height: 10px;
    background: rgb(211, 211, 211);
    transform-origin: bottom center;
    border-radius: 15%;
}

.ticks {
    position: absolute;
    top: 48px;
    left: 43px;
    width: 200px;
    height: 200px;
    transform: rotate(-65deg);
    pointer-events: none;
}

.tick {
    position: absolute;
    top: 49%;
    left: 49.3%;
    width: 5px;
    height: 20px;
    background: rgb(211, 211, 211);
    transform-origin: center center;
    border-radius: 15%;
}

.speed-pointer {
  position: absolute;
  left: 47.9387%;
  bottom: 10px;
  width: 0.5px;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 140px solid rgb(216, 216, 216); /* triangle pointing up */
  z-index: 11;
  transform-origin: 50% 0;
  transition: transform 0.085s ease-out;
}

.circular-number .number {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-family: "Intel One Mono", monospace;
  font-weight: bold;
  color: rgb(221, 221, 221);
}

.speedo-container {
  position: absolute;
  transform-origin: center bottom;
  bottom: 100px;
  right: 100px;
  z-index: 7;
}

.speed {
  position: absolute;
  font-size: 34px;
  right: -45px;
  bottom: 13px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

.speed-display {
  position: absolute;
  font-size: 30px;
  right: -23px;
  bottom: -22px;
  font-family: "Intel One Mono", monospace;
  color: white;
}

.gear {
  position: absolute;
  font-size: 36px;
  right: -65px;
  bottom: 60px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(255, 136, 39);
}

.gear-arrow {
  position: absolute;
  font-size: 33px;
  right: -33px; /* adjust to sit next to the gear */
  bottom: 62px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(102, 255, 64);
  transition: opacity 0.2s ease;
  opacity: 0;
}

.bited-speedo {
  position: absolute;
  top: 150px;
  left: -115px;
  width: 150px;
  height: 150px;
  rotate: 9.5deg;
  z-index: -3;
}

.small-rpm-redline {
    stroke: red;
    stroke-opacity: 0.35;
    stroke-width: 8;
    fill: none;
    stroke-linecap: butt;
}

.small-fuel-pointer {
    position: absolute;
    bottom: 15px;
    left: -47.8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 63px solid rgb(216, 216, 216); /* triangle pointing up */
    transform-origin: 50% 0;
    transition: transform 0.2s ease-out;
    z-index: 10;
    rotate: 5deg;
}

.empty {
  position: absolute;
  bottom: 27px;
  color: red;
  font-family: "Intel One Mono", monospace;
  left: -50px;
  width: 20px;
  height: 20px;
}

.fuel-icon {
  position: absolute;
  bottom: 70px;
  left: -85px;
  width: 15px;
  height: 15px;
  opacity: 0.8;
}

.full {
  position: absolute;
  bottom: 100px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-family: "Intel One Mono", monospace;
  left: -27px;
  width: 20px;
  height: 20px;
}

.fuel-text {
    visibility: hidden; /* or use display: none if safe */
    pointer-events: none;
    position: absolute;
    left: -9999px; /* optionally move it offscreen */
}

.arc-container {
  position: absolute;
  top: -50px;
  left: -48.5px;
  width: 350px;
  height: 350px;
  rotate: 2deg;
}

.engine-arc {
  stroke: #74747479;
  stroke-width: 20;
  fill: none;
  stroke-linecap: butt;
  opacity: 0.9;
  z-index: 4;
}

.engine-health {
  stroke: #2df5f8d5;
  stroke-width: 20;
  fill: none;
  stroke-linecap: butt;
  opacity: 1;
  z-index: 4;
}

.enginebg-arc {
  stroke: #0202029c;
  stroke-width: 24;
  fill: none;
  stroke-linecap: butt;
  z-index: 1;
}


/* .color {
  color: #0202029c;
} */

